<div class='container'>
  <form action='/users' method='POST'>
    <input type="text" name="user[username]">
    <input type="text" name="user[password]">
    <input type="submit" value="Create account"> 
  </form>

  <% if @username_taken %>
    <p> That username already exists! Please choose another username.</p>
  <% end %>
</div>
