<div class='containter'>
  <form action='/user' method='POST'>
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="Create account"> 
  </form>
</div>
