<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="navbar bar">
    <a href="/" class="white link-padding">Hacker News!</a> 

    <% if !session[:user_id].nil? %>
      <a href="/logout" class="white float-right link-padding">logout</a>
      <a href="/users/<%= session[:user_id] %>" class="white float-right link-padding"><%= User.find(session[:user_id]).username %></a>
      <a href="/posts/new" class="white float-right link-padding">create post</a>
    <% else %>
      <a href="/login" class="white float-right link-padding">login</a>
      <a href="/users/new" class="white float-right link-padding">create account</a>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
