<div class='container'>
  <ul>
  <% Post.all.reverse.each do |post| %>
    <li>
      <a href="<%= post.link %>"><%= post.title %></a><br />
      <a href="/posts/<%= post.id %>">Comments</a>
    </li>
  <% end %>
  </ul>
</div>
