<div class='container'>

  <ul>
  <% @user.comments.each do |comment| %>
    <li>
      <a href="/posts/<%= comment.post.id %>">
        <%= comment.post.title %></a>
        <br>
        <p><%= comment.body %></p>
    </li>
  <% end %>
  </ul>
</div>
